body {
    display:flex;
    flex-direction: column;
    flex:auto;
}

.header-img {
    height: 110px;
    width: 300px;
    border: solid black 3px;
}

.header {
    display:flex;
    background-color: #e21d53;
    flex:auto;
    text-decoration: none;
    align-content: flex-start;
    flex-direction: column;
}

.header-title {
    padding: 10px;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    flex:auto;
    list-style-type: none;
    font-size: 24px;
    color: #f9faf8;
}

.header-title li {
    align-content: center;
    color: #f9faf8;
}

.header-body {
    display:flex;
    padding:50px 100px 50px 100px;
    gap: 250px;
}

.text{
    flex-direction: column;
}

.mankind {
    font-size: 48px;
    color: #f9faf8;
    font-weight:bolder;
    display: flex;
    justify-content: start;
    padding: 0px;
    margin: 0px;
    max-width: 500px;
    flex-wrap: wrap;
    gap: 10px;
}

.mankind-small {
    font-size: 18px;
    color: #E5E7Eb;
    font-weight:normal;
    margin-top: 10px;
}

button {
    background-color: #3882F6;
    color: #E5E7Eb;
    justify-content: center; 
    padding: 10px;
    margin-top: 10px;
    font-weight: bolder; 
    border-radius: 15px;
    max-height: 50px;
}

.mainimg {
    display: flex;
    max-width: 300px;
    max-height: 300px;
    margin-left: 50px;
    margin-top: 30px;
}

.main-img{
    border: solid black 5px;
}

.body {
    display:flex;
    font-size: 36px; 
    font-weight: bolder;
    color: #1f2937;
    background-color: white;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    flex: auto;
    padding:35px;
    gap: 25px;

}

.Guns {
    justify-content: space-around;
    display:flex;
    gap: 40px;
    flex-wrap: wrap;
}

.gun-images {
    border-radius: 15px;
    width: 275px;
    height:120px;
    border: solid black 3px;
    margin-left: 20px;
}

.shotgun {
    width: 325px;
}
.align {
    display: flex;
    flex-direction: column;
}

.caption {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    max-width: 350px;
}

.quote-holder {
    flex-direction: column;
    display: flex;
    margin-top: 10;
    background-color:#E5E7EB;
    align-content: center;
    justify-content: center;
    flex: auto;
    font-weight: lighter;
    padding: 100px;
}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.source  {
    font-weight: bold;
    text-align: end;
}

.action {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 350px;
    margin: 150px;
    padding: 30px;
    background-color: #3882F6;
    border-radius: 15px;
}

.action-text {
    color: white;
    font-size: 16px;
    max-width: 480px;
}

.call {
    font-size: 35px;
    font-weight: bolder;
}

.action-button  {
    margin-top: 15px;
}

button a {
    text-decoration: none;
    color: white;
}